.container{
    background-image: url('../../../public/bg_pages_photo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}