@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;500&display=swap');

@font-face {
  font-family: RubikBubbles;
  src:url('./public/fonts/SN_balon.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

