.products-container::before {
  background-image: url("../../../public/bg_pages_photo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
  content: "";
  opacity: 20%;
  top: 56px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@media (min-width: 28rem) {
  .card-container {
    max-width: 50%;
  }
}

@media (min-width: 45rem) {
  .card-container {
    max-width: 33%;
  }
}

@media (min-width: 58rem) {
  .card-container {
    width: 25%;
  }
}

@media (min-width: 75rem) {
  .card-container {
    width: 20%;
  }
}

.card-container {
  transition: all 0.5s ease-out;
}
